body {
background-color: #252525;
background-image: url(jeopardy-background.jpg);
background-size: cover;
background-repeat: no-repeat;
color: #fff;
margin: 0;
padding: 0;
}

#app-title {
text-align: center;
margin-bottom: 48px;
font-size: 30px;
}

#question-grid {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    grid-gap: 2px;
    justify-content: center;
    margin-bottom: 2px;
}

#question-grid:hover{
    cursor: pointer;
}

#board-grid {
display: grid;
grid-template-columns: 240px 240px 240px 240px 240px;
grid-gap: 2px;
justify-content: center;
}


#board-grid:hover{
    cursor: pointer;
}

.board-box {
background-color: #00004d;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
}
.board-box:hover{
    background-color: gray;
}

#question-answer-display {
display: flex;
justify-content: center;
align-items: center;
margin: 48px;
font-weight: bold;
font-size: 30px;
}
#score-div{
    font-weight: bold;
    font-size: 30px;
}
#answer-div {
display: flex;
justify-content: center;
margin-top: 48px;
font-weight: bold;
font-size: 80px;
}

.answer {
margin-left: 8px;
height: 30px;
font-weight: bold;
font-size: 25px;
}
#submit{
    background-color: #00004d;
    color: #fff;
    border-radius: 5px;
    height: 35px;
}

#reset{
    background-color: #00004d;
    color: #fff;
    border-radius: 5px;
    height: 35px;
}
#submit:hover{
    cursor: pointer;
}
#reset:hover{
    cursor: pointer;
}

/* @media only screen and (min-width: 1400px){
    
} */